      

  <header style="background:#31B88A">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">ABOUT {{firstName}}</div>
                    <div class="intro-lead-in">ID: {{user.id}}</div>
                        <div class="intro-lead-in">Full Name: {{user.displayName}}</div>
                <div class="intro-lead-in">
                  <a class="btn btn-info" href="/popular">Instagram Popular Feed</a>
                      <a class="btn btn-danger" href="/love">Beautiful places nearby</a>
                </div>
               
            </div>
        </div>
    </header>

