
<div>
   <section class="hero-three-items" style="padding-top:0px;padding-bottom:0px">
      <article class="hero-block primary c6" style="box-sizing: border-box;">
         <a aria-hidden="true" class="img-link c2" href="#main">How Marketers Can Win the
                Oscars</a>
         <div class="text-box c5">
            <h2>
                    <a class="c3">SPREAD THE LOVE</a>
                  </h2>
            <p class="secondary-text">
               <a class="tag c3" href="#main"></a>
            </p>
            <p class="secondary-text description c4">
               We are designing happiness for social media.
            </p>
         </div>
      </article>
      <article class="hero-block secondary c9">
         <a aria-hidden="true" class="img-link c7 noTextDec" href="/love">
                The beauty nearby</a>
         <div class="text-box c8">
            <h4>
                    <a class="c3" href="/love">The beauty nearby</a>
                  </h4>
            <p class="secondary-text">
               <!-- <a class="tag c3" href="/love">Visit Places</a> -->
            </p>
         </div>
      </article>
      <article class="hero-block secondary c12">
         <a aria-hidden="true" class="img-link c10" style="background-image:url({{onepicture}})" href="/popular">Most Popular in Intagram</a>
         <div class="text-box c11">
            <h4>
                    <a class="c3" href="/popular">Most Popular in Intagram</a>
                  </h4>
            <p class="secondary-text">
               <!-- <a class="tag c3" href="/popular">Learn More</a> -->
            </p>
         </div>
      </article>
   </section>
</div>

<header id="main" style="background:#31B88A">
   <div class="container">
      <div class="intro-text">
         <div class="intro-heading">HELLO</div>
         <div class="intro-lead-in">Join us with</div>
         
         <a href="/auth/facebook" style="background:#2189BC;border:none" class="page-scroll btn btn-xl">Facebook</a>
         <a class="btn btn-xl" style="background:#EC6161;border:none" href="/auth/instagram">Instagram</a>
      </div>
   </div>
</header>
